body {
  font-family: sans-serif;
  color: azure;
}

header,
footer {
  text-align: center;
}

main {
  max-width: 20rem;
  display: flex;
  margin: auto auto;
}

star {
  display: inline-block;
  position: relative;
  margin: 0 -17rem;
  margin-top: 4.5rem;
  font-size: 3rem;
  z-index: 5;
  cursor: pointer;
}

#tree {
  width: 25rem;
  display: inline;
  margin: 4rem 0 0 0;
  z-index: 0;
}

decorations {
  display: inline-block;
}

.ornament {
  height: 2rem;
  position: relative;
  display: inline-block;
  margin-top: 10rem;
  margin-left: 10rem;
  z-index: 10;
}