body {
  font-family: sans-serif;
  color: azure;
  background-color: tomato;
}

header,
footer {
  text-align: center;
}

main {
  max-width: 20rem;
  display: flex;
  margin: auto auto;
}

star {
  position: absolute;
  top: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  z-index: 15;
  cursor: pointer;
}

#tree {
  width: 25rem;
  display: inline;
  margin: 4rem 0 0 0;
  z-index: 0;
}

decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ornament {
  position: absolute;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

main {
  position: relative;
}